body{
    background-color: rgba(24, 145, 226, 0.836);
}

.container{
    background-color: white;
    margin: auto;
    width: 500px;
    height: 620px;
}

h1{
    font-size: 2em;
    text-align: center;
}

#legenda{
    display: flex;
}

#bEsquerda{
    margin-left: 40px;
    line-height: 10px;
}

#bDireita{
    margin-left: 80px;
    line-height: 10px;
}

form > p{
    font-size: 1.2em;
    padding-left: 20px;
}

form input{
    height: 1.8em;
    width: 33.7em;
}

button{
    width: 460px;
    height: 40px;
    margin-left: 18px;
    background-color: rgba(255, 0, 0, 0.596);
}

button:hover{
    background-color: rgb(5, 233, 157);
}

#textoM{
    padding-left: 20px;
    background-color: rgb(8, 209, 8);
}
